INFLUX_USERNAME=super-bumba
INFLUX_PASSWORD=super-bumba-password
INFLUX_ORG=super-bumba
INFLUX_BUCKET=sensors
INFLUX_TOKEN=super-bumba-pico-secret-token-2026

GRAFANA_USER=admin
GRAFANA_PASSWORD=admin
